<%= form_for @changeset, topic_path(@conn, :update, @topic.id), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <%= submit "Update Topic", class: "btn btn-primary" %>
  <%= link to: topic_path(@conn, :index), class: "btn btn-default ml-3" do %>
    Cancel
  <% end %>
<% end %>
